@charset "UTF-8";
#wrap{
	width:1200px;
	height:800px;
	margin:0 auto;
}
.main-menu{
	width:200px;
	height:800px;
}
.logo{
	height:100px;
}
.menu-link{
	height:700px;
}
.main-contents{
	width:1200px;
}
.post-container{
	width:800px;
	margin:0 auto;
}
.show-id{
	height:50px;
}
.show-image{
	height:50px;
}
.show-content{
	height:50px;
}
.show-reply{
	height:200px;
}
.post-box{
	height:800px;
	width:900px;
	margin:0 auto;
}
.post-content{
	height:650px;
	width:800px;
	margin:0 auto;
}
.logo-status{
	height:100px;
}
.input-file-button{
	padding: 6px 25px;
	background-color:#FF6600;
	border-radius: 4px;
	color:white;
	cursor: pointer;
}
