@charset "UTF-8";
#wrap{
	width:1200px;
	height:800px;
	margin:0 auto;
}
#main-page{
	width:400px;
	height:500px;
	margin:0 auto;
}
header{
	height:100px;
}
section{
	height:400px;
	width:400px;
}
.square-border{
	border:2px solid;
}
#footer{
	width:400px;
	height:120px;
}